.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.frontCardBoarder {
  border-radius: 10px;
  background-color: var(--accent);
  border: 1px;
  padding: 0px 10px;
  color: var(--surface);
  margin: 3%;

  .frontCard {
    padding: 5px 10px;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .topLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          margin-left: 3px;
        }

        a {
          margin-left: 7px;
          font-size: 18px;
          padding-top: 2px;
        }
      }
      .topRight a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 800;
        font-size: 14px;
      }

      .topLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.mainButtons {
  background-color: var(--surface);
  border: none;
  border-radius: 20px;
  padding: 10px 17px;
  color: var(--accent);
  cursor: pointer;
  font-size: 12px;
}

.paymentCard {
  border-radius: 10px;
  background-color: var(--surface);
  border: 1px;
  padding: 15px 20px;
  color: var(--accent);
  margin: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .elementCard {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    p {
      width: 100%;
      padding-top: 7px;
      color: var(--text-secondary);
      text-align: center;
      margin: auto;
      /* padding-left: 10px; */
    }
    .eleContainer {
      width: 30px;
      background-color: var(--bg);
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
    }
  }
}

.salesItem {
  border-radius: 10px;
  background-color: var(--surface);
  border: 1px;
  padding: 15px 20px;
  color: var(--text-primary);
  margin: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  .elementCard {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    p {
      width: 100%;
      padding-top: 7px;
      color: var(--text-secondary);
      text-align: center;
      margin: auto;
      /* padding-left: 10px; */
    }
    .eleContainer {
      width: 30px;
      background-color: var(--bg);
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
    }
  }
}

.main {
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--surface);
  border: 1px;
  padding: 15px 0px;
  color: var(--text-primary);
  display: flex;
  justify-content: space-around;

  .elementCard {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    p {
      width: 100%;
      padding-top: 7px;
      color: var(--text-secondary);
      text-align: center;
      margin: auto;
      /* padding-left: 10px; */
    }
    .eleContainer {
      width: 30px;
      background-color: var(--bg);
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
    }
  }
}

.listContainer {
  background-color: var(--surface);
  width: 94%;
  margin: auto;
  border-radius: 10px;
  Button {
    background-color: var(--accent);
    color: var(--bg);
    padding: 3px 17px;
    margin-left: 3px;
    flex-shrink: 0;
  }

  .listItems {
    padding: 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;

    .listImage {
      margin-right: 2px;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 10px;
      background-color: var(--bg);
      display: flex;
      align-items: center;
      justify-content: center;

      .icons {
        font-size: 18px;
      }
    }

    .circle {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: var(--bg);
      display: flex;
      align-items: center;
      justify-content: center;

      .icons {
        font-size: 18px;
      }
    }

    .listTexts {
      padding-left: 10px;
      flex-grow: 1;
      margin-right: 20px;

      .majorText {
        font-size: 12px;
        margin-bottom: 0px;
        .spanText {
          color: var(--accent);
        }
      }
      .minorText {
        color: var(--text-secondary);
        margin-top: 5px;
      }
    }
  }

  .listButton {
    flex-shrink: 0;
    cursor: pointer;
  }
}

.slider {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  .slider-item {
    position: inherit;

    .listItems {
      transition: transform 0.5s ease-in-out;
    }
  }
}
.sliderContainer {
  width: 95%;
  margin: auto;
  border-radius: 20px;
  .beforeSlider {
    padding: 10px 20px;

    border-bottom: 1px dotted var(--text-secondary);
  }

  background: linear-gradient(
    to Right,
    rgb(2, 27, 82),
    rgb(3, 63, 104),
    rgb(2, 58, 104),
    rgb(4, 68, 44),
    rgb(7, 97, 34),
    rgb(100, 194, 12)
  );
  .listContainer {
    background-color: transparent;
    padding: 0px;

    .listItems {
      padding-top: 0px;
    }
  }
}
