.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.frontCardBoarder {
  border-radius: 10px;
  background-color: var(--accent);
  border: 1px;
  padding: 0px 10px;
  color: var(--surface);
  margin: 3%;

  .frontCard {
    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .topLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .topRight a {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .topLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.mainButtons {
  background-color: var(--surface);
  border: none;
  border-radius: 20px;
  padding: 10px 17px;
  color: var(--accent);
}
